
:root {
    --main-color: #000614;
    --main2-color: #00030b;
    --second-color: #e50914;
}

nav {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 70px;
}

.fixed_nav {
    position: fixed;
    top: 0;
    background-color: var(--main2-color);
    z-index: 11111;
}

.navbar_logo {
    height: 60px;
}

.navbar_logo a img {
    height: 100%;
}

.navbar_links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 30px;
    padding-bottom: 5px;
    border-bottom: none;
    transition: color .3s
}

.navbar_links a:hover {
    color: var(--second-color);
}

.navbar_sm_logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar_sm_logos div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
}

.navbar_sm_logos div img {
    width: 25px;
    height: 25px;
    transition: all .3s;
}

.navbar_sm_logos div img:hover {
    transform: scale(1.2);
}

